.navbar {
    border-bottom: 1px solid;
}
.dropdown-menu div {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.75rem;
    white-space: nowrap;
}

.dropdown-menu i {
    margin-right: 6px;
    margin-top: 2px;
}
